flask
pandas
openpyxl
flask-cors
psycopg2-binary
python-dotenv
pdfplumber
requests
gunicorn
bcrypt
beautifulsoup4
apscheduler
cryptography
PyJWT
Flask-Limiter
reportlab
   


# To this:
psycopg[binary]==3.1.13



